.header {
  padding: 30px 0;
  box-shadow: 0px 15px 10px -15px black;
  background-color: #fff;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logoWrapper {
  width: 60px;
  height: 60px;
}

.nav {
  display: flex;
  gap: 30px;
}

.link {
  font-size: 30px;
}

.link:hover {
  text-decoration: underline;
  color: red;
}

.active {
  color: red;
}
